{
  "parser": "@babel/eslint-parser",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "airbnb"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "import/prefer-default-export": "off",
    "no-console": "off",
    "consistent-return": "off",
    "comma-dangle": "off",
    "operator-linebreak": "off",
    "object-curly-newline": "off",
    "indent": "off",
    "implicit-arrow-linebreak": "off",
    "no-confusing-arrow": "off",
    "function-paren-newline": "off",
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    "react/function-component-definition": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-curly-newline": "off",
    "react/jsx-wrap-multilines": "off",
    "react/no-array-index-key": "off",
    "react/jsx-no-constructed-context-values": "off"
  }
}
