@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: interstate, system-ui, sans-serif;
  }
}

@media print {

  /* html,
  body {
    width: 210mm;
    height: 297mm;
  } */

  @page {
    size: A4 portrait;
    zoom: 70%;
  }

  .no-print,
  .no-print * {
    display: none !important;
  }

  .printable {
    display: block;
  }
}

.the-editor {
  background: #da291c;
  padding: 0.5rem;
}

.the-editor button {
  padding: 0.25rem 0.5rem;
  border: 1px solid black;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
  background: white;
}

.ProseMirror {
  border: 1px solid black;
  padding: 1rem;
  border-radius: 0;
}

.collaboration-cursor__label {
  color: #fff;
  padding: 0.25rem 1rem;
  width: max-content;
  border-radius: 5px;
}

.gc-body {
  max-width: 1200px;
}